# Datasource
PG_URL=
PG_USERNAME=
PG_PASSWORD=

# S3 storage
BACKBLAZE_ENDPOINT=
BACKBLAZE_REGION=
BACKBLAZE_ACCESS_KEY=
BACKBLAZE_APP_KEY=

# Security
OAUTH2_ISSUER_URI=
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_USERNAME=
KEYCLOAK_PASSWORD=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=
USER_CREATED_TOPIC=