# Datasource
PG_URL=
PG_USERNAME=
PG_PASSWORD=

# S3 storage
MINIO_ENDPOINT=
MINIO_REGION=
MINIO_ACCESS_KEY=
MINIO_APP_KEY=

# Security
OAUTH2_ISSUER_URI=
KEYCLOAK_URL=
KEYCLOAK_REALM=
KEYCLOAK_USERNAME=
KEYCLOAK_PASSWORD=

# Kafka
KAFKA_BOOTSTRAP_SERVERS=
USER_CREATED_TOPIC=