<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="email/layout/base :: body">

<div th:fragment="content">

    <h2>Добавлена новая задача</h2>

    <p>
        В системе появилась новая задача:
    </p>

    <p>
        <b>Название:</b>
        <span th:text="${title}"></span>
    </p>

    <p>
        <b>Сложность:</b>
        <span class="difficulty" th:text="${difficulty}"></span>
    </p>

    <p>
        <b>Категории:</b>
    </p>

    <ul>
        <li th:each="cat : ${categories}" th:text="${cat}"></li>
    </ul>

    <p style="margin-top:20px">
        Перейдите в систему чтобы попробовать решить её.
    </p>

</div>

</html>