<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="email/layout/base :: body">

<div th:fragment="content">

    <h2>Здравствуйте, <span th:text="${username}"></span></h2>

    <p>
        Для подтверждения регистрации используйте код ниже:
    </p>

    <div style="text-align:center;margin:28px 0">
        <span class="code" th:text="${code}"></span>
    </div>

    <p>
        Код был отправлен на
        <b th:text="${email}"></b>.
    </p>

    <p style="color:#64748b">
        Если вы не запрашивали этот код — просто проигнорируйте письмо.
    </p>

</div>

</html>